USE [master]
GO
/****** Object:  Database [PetShop]    Script Date: 21/11/2020 23:07:00 ******/
CREATE DATABASE [PetShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PetShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PetShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PetShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetShop]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 21/11/2020 23:07:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Stock] [int] NOT NULL,
	[Precio] [float] NOT NULL,
	[Descripcion] [varchar](150) NULL,
 CONSTRAINT [PK_Productos_1] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Codigo], [Stock], [Precio], [Descripcion]) VALUES (1, 28, 300, N'Comida premium')
INSERT [dbo].[Productos] ([Codigo], [Stock], [Precio], [Descripcion]) VALUES (2, 5, 100, N'Golosina para perros')
INSERT [dbo].[Productos] ([Codigo], [Stock], [Precio], [Descripcion]) VALUES (3, 67, 150, N'Shampoo anti-pulgas')
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
USE [master]
GO
